.list
  &--unordered
    padding-left: em(20px)
    list-style-type: none

  &--definition
    margin: $base-line-height 0

  &__term
      font-weight: bold
      adjust-font-size-to(20px, 1)
      leader(.5)

  &__definition
      margin: 0
