{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["ie > 8", "cover 95%"]
        },
        "corejs": 3,
        "useBuiltIns": "entry",
        "modules": false,
        "loose": true
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript"]
    }
  }
}
