{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
