{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "deps",
        "deps-dev",
        "cpf",
        "cnpj"
      ]
    ]
  }
}
