{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "typescript",
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/babel",
    "prettier/react",
    "prettier/standard"
  ],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  },
  "plugins": ["jest", "@typescript-eslint"]
}
