{
  "env": {
    "amd": false,
    "applescript": false,
    "browser": true,
    "commonjs": false,
    "embertest": false,
    "jasmine": false,
    "jest": false,
    "jquery": true,
    "meteor": false,
    "mocha": true,
    "mongo": false,
    "nashorn": false,
    "phantomjs": false,
    "prototypejs": false,
    "protractor": false,
    "qunit": false,
    "serviceworker": false,
    "shelljs": false,
    "webextensions": false,
    "worker": false
  },

  "globals": {
    // additional predefined global variables
  },

  "plugins": [
    // e.g. "react" (must run `npm install eslint-plugin-react` first)
  ],

  "extends": [
    "standard"
  ]
}
