#############
## System files
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Coverage reports
#############

# Coverage directory used by tools like istanbul
coverage
.coverage

# stryker
reports
.stryker-tmp

#############
## Logs
#############

logs
*.log
npm-debug.log*

#############
## Dependency directories
#############

node_modules/

#############
## Cache
#############

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

#############
## Others
#############

# SASS Cache
.sass-cache

## Gh-pages package
.publish

# Output of 'npm pack'
*.tgz
package/

# dotenv environment variables file
.env


website/
dist/
