.babelrc
.editorconfig
.csslintrc
.eslintrc
.gitattributes
.travis.yml
.yo-rc.json
inch.json
jest.config.js
rollup.config.js
stryker.conf.js
tsconfig.json
yarn.lock

.github/
.stryker-tmp/
.publish/
coverage/
build/
spec/
public/
reports/
src/
