.babelrc
.editorconfig
.prettierrc
.csslintrc
.eslintrc
.gitattributes
.travis.yml
jest.config.js
rollup.config.js
stryker.conf.js
tsconfig.json
yarn.lock
webpack.config.js
webpack.config.dev.js
webpack.config.prod.js
gerador-validador-cpf-*.tgz

.vscode/
@types/
jest/
loader/
website/
website/
.github/
.stryker-tmp/
.publish/
coverage/
build/
spec/
public/
reports/
src/
site/
