language: node_js
node_js:
  - 'lts/*'

stages:
  - checks
  - name: tests
    if: NOT branch = master
  - name: tests and reports
    if: branch = master
  - name: deploy website
    if: branch = master

jobs:
  include:
    - stage: checks
    - script:
        - gem install awesome_bot
        - awesome_bot *.md --allow-redirect --white-list travis-ci,packagephobia.now
      name: Check Doc links

    - script: npm run check-typing
      name: Check Typing

    - script: npm run check-formatting
      name: Check Formatting

    - script: npm run lint
      name: Lint

    - script: npm run prepublishOnly
      name: Check Prepublish

    - stage: tests and reports
    - script: npm run test:coverage & npm run coveralls
      name: Run Unit Tests, generate coverage and publish to coveralls

    - script: npm run test:mutation-report"
      name: Run Mutation Tests and publish reports

    - stage: tests
    - script: npm run test
      name: Run Unit Tests

    - script: npm run test:mutation
      name: Run Mutation Tests

    - stage: deploy website
    - script: npm run build:site
      name: Compile website
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        keep_history: true
        on:
          branch: master
