language: node_js
node_js:
  - 'lts/*'

stages:
  - Checks
  - name: Tests
    if: NOT branch = master
  - name: 'Tests and Reports'
    if: branch = master
  - name: 'Deploy gh-pages'
    if: branch = master

before_deploy: npm run build:site

jobs:
  include:
    - stage: Checks
      script: true
    - script:
        - gem install awesome_bot
        - awesome_bot *.md --allow-redirect --white-list travis-ci,packagephobia.now
      name: Check Doc links

    - script: npm run check-typing
      name: Check Typing

    - script: npm run check-formatting
      name: Check Formatting

    - script: npm run lint
      name: Lint

    - script: npm run prepublishOnly
      name: Check Prepublish

    - stage: 'Tests and Reports'
    - script: npm run test:coverage && npm run coveralls
      name: Run Unit Tests, generate coverage and publish to coveralls

    - script: npm run test:mutation-report
      name: Run Mutation Tests and publish reports

    - stage: Tests
      name: Run Unit Tests

    - script: npm run test:mutation
      name: Run Mutation Tests

    - stage: 'Deploy gh-pages'
      deploy:
        provider: pages
        local_dir: website
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        keep_history: true
