body-typography()
	font: normal normal  $font-size-base\/($font-size-base + 3) $font-family-base

	color: $color-text
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-smoothing: auto
	font-feature-settings: "liga", "kern"

h1-typography()
	font-size: em($font-size-h1)
	line-height: em(($font-size-h1 + 3), $font-size-h1)

h2-typography()
	font-size: em($font-size-h2)
	line-height: em(($font-size-h2 + 3), $font-size-h2)

h3-typography()
	font-size: em($font-size-h3)
	line-height: em(($font-size-h3 + 3), $font-size-h3)

h4-typography()

	font-size: em($font-size-h4)
	line-height: em(($font-size-h4 + 3), $font-size-h4)

h5-typography()
	font-size: em($font-size-h5)
	line-height: em(($font-size-h5 + 3), $font-size-h5)

h6-typography()
	font-size: em($font-size-h6)
	line-height: em(($font-size-h6 + 3), $font-size-h6)

p-typography()
	hyphens: auto
