// Box model reset
*,
*:before,
*:after
	box-sizing: border-box

html
	height: 100%

body
	body-typography()
	background: linear-gradient(to bottom, $bg-color, darken($bg-color, 12%))
	background-attachment: fixed

h1
	h1-typography()

h2
	h2-typography()

h3
	h3-typography()

h4
	h4-typography()

h5
	h5-typography()

h6
	h6-typography()
p
	p-typography()

a
	color #FFF

	&:hover
		color #FFFF32
button
	background: darken($bg-color, 60%)
	border: none
	padding: 10px
	border-radius: 5px

input, select
	padding: 5px
	border-radius: 5px
	border: none
	font-weight: bold
	color: lighten(#000, 60%)


select
	color: lighten(#000, 40%)

label
	display: block

.main
	width: (100% / 12) * 10
	margin 80px (100% / 12) 0

pre
	color lighten(#000, 35%)
	background rgba(255, 255, 255, .7)
	border-radius 5px
	padding 10px
	font-size em(12px)

footer
	background darken($bg-color, 30%)
	padding 5px
	text-align center

