@charset "UTF-8"
/*!
	Project Name
	Version: x.x.x
	Author: Name - Site
	Project Home page
	Contact: email
*/

// Helpers
@import "helpers/_variables"
@import "helpers/_mixins"
@import "helpers/_functions"
@import "helpers/_sprite"

//If you will use bootstrap you can remove these imports
//============================================================//
/* Web Fonts */
@import "typography/_web-fonts"
@import "typography/_typography"

// Reset and normalize
@import "dependencies/_normalize-3.0.2"

// Grid System
// @import "dependencies/_semantic.gs-1.2"
//============================================================//

// Dependencies
// @import "dependencies/_outdatedbrowser-1.1.0"
// @import "dependencies/_animate"
// @import "dependencies/_bootstrap-3.3.1"

/* Main Styles */
@import "_base"


/* Media Queries */
// 480px
// @media (max-width: 30em)
	// @import "media_queries/_max_480"

// 481px - 768px
@media (max-width: 48em)
	@import "media_queries/_max_768"

// 769px - 992px
// @media (min-width: 48.063em) and (max-width: 62em)
	// @import "media_queries/_min_769_max_992"
