#copy-cpf
	@extend .input
	border: none
	margin-left: em(10px)
	color: #FFF
	text-transform: lowercase
	padding-left: 20px
	padding-right: 20px

	+below($tablet)
		margin: 0 2%
		trailer(.5)
		width: 96%
