.format-section
    &__copy-button
        text-transform: lowercase
        rhythm-padding(.25)
        adjust-font-size-to($base-font-size)
        trailer(.5)

    &__submit-button
        display: block
