@import "_main"
@import "_panel"
@import "_github-corner"
@import "_hljs"

@import "_donation"
@import "_generate-section"
@import "_validate-section"
@import "_format-section"
@import "_list"

@import "_footer"

