.h1, .h2, .h3, .h4, .h5, .h6
	font-weight: $header-weight

for num in (1..6)
	.h{num}
		adjust-font-size-to($font-size-h + num)
		rhythm-margins(1, 1, $font-size-h + num)

p
	adjust-font-size-to($base-font-size)
	rhythm-margins(1, 1, $base-font-size)
	hyphens: auto
	// max-width ($base-font-size * 30)

.blockquote
	font-style: italic
	padding-left: em(10px)
	border-left: em(5px) solid lighten(#000, 60%)
	rhythm-margins(1, 1, $base-font-size)