//Color

$bg-color = #3498db

$primary-color = ""
$secondary-color = ""
$tertiary-color = ""

//Paths
$font-path = "../fonts/"

$image-path = "../img/"

//Typography
$font-family-base = Helvetica, Arial, sans-serif

$base-font-size = 16px
base-font-size = $base-font-size

$base-line-height = 24px
base-line-height = $base-line-height

$base-text-color = #FFF

$font-size-h1 = 36px
$font-size-h2 = 32px
$font-size-h3 = 30px
$font-size-h4 = 26px
$font-size-h5 = 24px
$font-size-h6 = 20px

$header-weight = bold

$debug-vertical-rhythm = false
$debug-color-line = #FFF

//Media queries
// The EMs have it: Proportional Media Queries FTW!
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
// 7 Habits of Highly Effective Media Queries
//http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/
$phone = em(480px, 16px)
$tablet = em(768px, 16px)
$desktop = em(992px, 16px)

//Layout
