/*! ==================================================================
   Web Fonts
   ================================================================== */

/*
 *  Import web-fonts via @import
 */

@import url("http://fonts.googleapis.com/css?family=PT+Sans")




/*
 *  Import web-fonts via @font-face
 */

// Example of @font-face

// @font-face
// 	font-family: "Font Name"
// 	font-style: normal
// 	font-weight: normal
// 	font-stretch: normal

// 	src: url($font-path + 'font-filename.eot');  /* IE9 Compat Modes */

// 	src: local('File Name'), /* Set Fallback Local Font */\
// 		 url($font-path + 'font-filename.eot?#iefix') format('embedded-opentype'), /*IE6-IE8*/\
// 		 url($font-path + 'font-filename.woff2') format('woff2'), /*Super Modern Browsers*/ \
// 		 url($font-path + 'font-filename.woff') format('woff'), /*Modern Browsers*/\
// 		 url($font-path + 'font-filename.ttf')  format('truetype'), /*Safari, Android, iOS*/\
// 		 url($font-path + 'font-filename.svg#svgFontName') format('svg'); /*Legacy iOS*/