code
    color: lightness(#00FF00, 50%)
    background: darken(#333, 30%)
    padding: 0 0.2em
    display: inline-block
    border-radius: em(3px)
    vertical-align: bottom
    overflow: auto
    // rhythm-margins(1, 1, $base-font-size)
