.valid
	color: $cor = green
	border-color: lighten($cor, 70%)
	background: lighten($cor, 70%)
	transition: all ease 1s

.invalid
	color: $cor = red
	border-color: lighten($cor, 70%)
	background: lighten($cor, 70%)
	transition: all ease 1s

#btn-gerar-CPF
#valida-CPF button
	display: block


a
	color #FFF

	&:hover
		color #FFFF32

input, select
	@extend .input


label
	display: block

dl
	margin: $base-line-height 0

dd
	margin: 0

#resultado-validacao
#formatacao
	margin-left: em(5px)

	+below($tablet)
		margin-left: 0

+below(em(767px))
	button,
	input,
	select
		width: 100%
