code
	color: lightness(#00FF00, 50%)
	background: darken(#333, 30%)
	padding: 0 em($base-line-height / 2)
	rhythm-padding(.5, .5, $base-font-size)
	width: 100%
	display: inline-block
	border-radius: 6px
	overflow: auto
	rhythm-margins(1, 1, $base-font-size)
