/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/

html
	font-size: 100%
	box-sizing border-box

*, *:before, *:after
	box-sizing inherit
