# My Gulp.js Template
# Version: 3.0.0beta
# Author: Tiago Porto - http://www.tiagoporto.com
# https://github.com/tiagoporto/my-gulp-template
# Contact: me@tiagoporto.com

root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
