.box
  text-align: left
  @media (min-width: em($tablet))
    position absolute

.button
  border: none
  background: none
  color: white
  cursor: pointer
  outline: none

.selected
  text-decoration: underline
