/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/

html
	box-sizing border-box
	background-color $bg-color

*, *:before, *:after
	box-sizing inherit

body
	if $debug-vertical-rhythm == true
		background-image: linear-gradient(to top, rgba($debug-color-line, 0.2) 1px, rgba(0, 0, 0, 0) 1px)
		background-size: 100% em($base-line-height, $base-font-size)
		background-position: left top

	font normal normal  $base-font-size\/$base-line-height $font-family-base
	color $base-text-color
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-smoothing auto
	font-feature-settings "liga", "kern"

	background: linear-gradient(to bottom, $bg-color, darken($bg-color, 18%))
	background-attachment: fixed

.panel
	background: darken($bg-color, 35%)
	line-height: 0
	padding: $base-line-height 0
	text-align: center
	trailer(1)

	iframe
		height: $base-line-height !important

h1
	@extend .h1
	font-family: 'PT Sans', sans-serif
	margin-top: 0

	svg
		max-height: $base-line-height * 4
		display: block
		margin: 0 auto $base-line-height

p
	p-typography()

a
	color #FFF

	&:hover
		color #FFFF32
button
	background: darken($bg-color, 60%)
	border: none
	padding: 10px
	border-radius: 5px

input, select
	padding: 5px
	border-radius: 5px
	border: none
	font-weight: bold
	color: lighten(#000, 60%)

form
	margin-bottom: 20px

select
	color: lighten(#000, 40%)

label
	display: block

.main
	width: 95%
	margin: auto

.hljs
// 	color lighten(#000, 35%)
// 	background rgba(255, 255, 255, .7)
	background rgba(248, 248, 248, .7) !important
	border-radius 5px
// 	padding 10px
// 	font-size em(12px)

footer
	background darken($bg-color, 30%)
	padding 5px
	text-align center

+below(em(500px))
	h1
		span
			display: block


+below(em(767px))
	button,
	input,
	select
		width: 100%

	dd
		margin 0
