/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/

html
	box-sizing border-box
	background-color $bg-color

*, *:before, *:after
	box-sizing inherit

body
	background: linear-gradient(to bottom, $bg-color, darken($bg-color, 18%))
	background-attachment: fixed

	if $debug-vertical-rhythm == true
		background-image: linear-gradient(to top, rgba($debug-color-line, 0.2) 1px, rgba(0, 0, 0, 0) 1px)
		background-size: 100% em($base-line-height, $base-font-size)
		background-position: left top

	font normal normal  $base-font-size\/$base-line-height $font-family-base
	color $base-text-color
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-smoothing auto
	font-feature-settings "liga", "kern"


#btn-gerar-CPF
	display: block

a
	color #FFF

	&:hover
		color #FFFF32

input, select
	@extend .input


label
	display: block

dl
	margin: $base-line-height 0


+below(em(767px))
	button,
	input,
	select
		width: 100%
