// Helpers
@import "settings/_variables"
@import "helpers/_functions"
@import "helpers/_mixins"

// Web Fonts
// @import "settings/_web-fonts"

// Sprites
// @import "helpers/_bitmap-sprite"
// @import "helpers/_vetor-sprite"

// Vendors
// @import "../../dist/bower_components/"

// Vertical Rhythm module from Compass ported to Stylus
@import "../vendors/vertical-rhythm-port-from-compass/_vertical-rhythm"

/*! ==================================================================
   Main Styles
   ================================================================== */
@import "partials"
@import "components"


/*! ==================================================================
   Media Queries
   ================================================================== */

@media print
    @import "partials/_print"

.valid
    color: $cor = green
    border-color: lighten($cor, 70%)
    background: lighten($cor, 70%)
    transition: all ease 1s

.invalid
    color: $cor = red
    border-color: lighten($cor, 70%)
    background: lighten($cor, 70%)
    transition: all ease 1s

dl
    margin: $base-line-height 0

dd
    margin: 0

@media (max-width: em($tablet - 1))
    button,
    input,
    select
        width: 100%


