// Helpers
@import "settings/_variables"
@import "helpers/_functions"
@import "helpers/_mixins"

// Web Fonts
@import "settings/_web-fonts"

// Sprites
// @import "helpers/_bitmap-sprite"
// @import "helpers/_vetor-sprite"


// Vendors
// @import "../../public/bower_components/"

// Vertical Rhythm module from Compass ported to Stylus
@import "vendor/_vertical-rhythm"

/*! ==================================================================
   Main Styles
   ================================================================== */
@import "settings/_placeholders"
@import "components/_button"
@import "components/_code"
@import "components/_form"
@import "components/_typography"
@import "components/_github-corner"
@import "components/_main"
@import "components/_panel"
@import "components/_footer"
@import "_base"



/*! ==================================================================
   Media Queries
   ================================================================== */

@media print
	@import "media_queries/_print"

/*!
*
* Better Font Smoothing in Chrome & Safari
* http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
*
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),\
	only screen and ( min-device-pixel-ratio: 1.25),\
	only screen and ( min-resolution: 200dpi),\
	only screen and ( min-resolution: 1.25dppx)

	body
		-webkit-font-smoothing: subpixel-antialiased