/* EM function */
// Convert pixel units to em units

em($pixels, $context = $base-font-size)
    (floor($pixels/$context, 10))em

/* REM function */
// Convert pixel units to rem units

rem($pixels)
    (floor($pixels/$base-font-size, 10))rem
