/* Arrow */
// Adapted from Stephen Burgess
// http://minimalmonkey.com/sass-triangle-mixin/

/**
 * [arrow description]
 * @param width     : px, em
 * @param height    : px, em
 * @param direction : up, down, left, right
 * @param color     : hex, rgb
 */

arrow($width = 20px, $height = 20px, $direction = up, $color = red)

	width: 0
	height: 0

	if($direction == right)
		border-top: ($height/2) solid transparent
		border-bottom: ($height/2) solid transparent
		border-left: $width solid $color

	if($direction == left)
		border-top: ($height/2) solid transparent
		border-bottom: ($height/2) solid transparent
		border-right: $width solid $color

	if($direction == up)
		border-left: ($width/2) solid transparent
		border-right: ($width/2) solid transparent
		border-bottom: $height solid $color

	if($direction == down)
		border-left: ($width/2) solid transparent
		border-right: ($width/2) solid transparent
		border-top: $height solid $color

/* Opacity */

opacity($value)

	opacity: $value
	filter unquote('alpha(opacity=' + round($value * 100) + ')') //IE8 and earlier

// retina.styl
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

// Tiago Porto - tiagoporto.com

at2x($path, $width = auto, $height = auto)
	background-image: url($path)

	@media (-webkit-min-device-pixel-ratio: 1.5),\
	       (-o-min-device-pixel-ratio: 3 / 2),\
	       (min--moz-device-pixel-ratio: 1.5),\
	       (min-device-pixel-ratio: 1.5),
	       (min-resolution: 1.5dppx)

		background-image: url($image-path + replace('\.', '@2x.', $path))
		background-size: $width $height
