/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$left-arrow_name = 'left-arrow';
$left-arrow_x = 0px;
$left-arrow_y = 0px;
$left-arrow_offset_x = 0px;
$left-arrow_offset_y = 0px;
$left-arrow_width = 32px;
$left-arrow_height = 32px;
$left-arrow_total_width = 66px;
$left-arrow_total_height = 32px;
$left-arrow_image = '../images/sprite.png';
$left-arrow = 0px 0px 0px 0px 32px 32px 66px 32px '../images/sprite.png' 'left-arrow';
$right-arrow_name = 'right-arrow';
$right-arrow_x = 34px;
$right-arrow_y = 0px;
$right-arrow_offset_x = -34px;
$right-arrow_offset_y = 0px;
$right-arrow_width = 32px;
$right-arrow_height = 32px;
$right-arrow_total_width = 66px;
$right-arrow_total_height = 32px;
$right-arrow_image = '../images/sprite.png';
$right-arrow = 34px 0px -34px 0px 32px 32px 66px 32px '../images/sprite.png' 'right-arrow';
$spritesheet_width = 66px;
$spritesheet_height = 32px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $left-arrow $right-arrow;
$spritesheet = 66px 32px '../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
