//Color

$bg-color = #3498db

$primary-color = ""
$secondary-color = ""
$tertiary-color = ""

//Paths
$font-path = "../fonts/"

$image-path = "../images/"

//Typography

$font-family-base = Helvetica, Arial, sans-serif

$font-size-base = 16px

$color-text = #FFF

$font-size-h1 = 36
$font-size-h2 = 32
$font-size-h3 = 30
$font-size-h4 = 28
$font-size-h5 = 24
$font-size-h6 = 20

//Layout
