.panel
  background: darken($bg-color, 35%)
  padding: $base-line-height 20px
  text-align: center
  trailer(1)

  &__title
    font-family: 'PT Sans', sans-serif
    margin-top: 0

.logo
  max-height: $base-line-height * 4
  display: block
  margin: 0 auto $base-line-height
