.validate-section
  &__label
    display block

  &__input

    &--valid
      color: $cor = green
      border-color: lighten($cor, 70%)
      background: lighten($cor, 70%)
      transition: all ease 1s


    &--invalid
      color: $cor = red
      border-color: lighten($cor, 70%)
      background: lighten($cor, 70%)
      transition: all ease 1s

#validate-section__input--to-format,
.validate-section__input--message
  @media (max-width: em($tablet))
      width: 100%
