/*! ==================================================================
   Web Fonts
   ================================================================== */

/*
 *  Import web-fonts via @import
 */

// Example of @import
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800")





/*
 *  Import web-fonts via @font-face
 */

// Example of @font-face

// @font-face
//     font-family: "Font Name"
//     font-style: normal
//     font-weight: normal
//     font-stretch: normal

//     src: url($font-path + 'font-filename.eot');  /* IE9 Compat Modes */

//     src: local('File Name'), /* Set Fallback Local Font */\
//          url($font-path + 'font-filename.eot?#iefix') format('embedded-opentype'), /*IE6-IE8*/\
//          url($font-path + 'font-filename.woff2') format('woff2'), /*Super Modern Browsers*/ \
//          url($font-path + 'font-filename.woff') format('woff'), /*Modern Browsers*/\
//          url($font-path + 'font-filename.ttf')  format('truetype'), /*Safari, Android, iOS*/\
//          url($font-path + 'font-filename.svg#svgFontName') format('svg'); /*Legacy iOS*/
