/**
*
* Circle Stylus Mixin
* Author: Tiago Porto - tiagoporto.com
*
**/

/**
 * [Circle description]
 * @param width : px, em
 */


circle($width = 20px)
    border-radius: floor($width/2)
    width: $width
    height: $width
