.donation
  a
    text-decoration: none
    color: white

    &:hover
      color: yellow

  .blur
    filter: blur(3px)

  .donate-list
    list-style: none
    list-style-type: none
    display: table
    margin: auto
    padding: 0
    transition: all .3s
    z-index: 1
    position relative

    li
      float: left
      border-left: 1px solid #ddd
      border: 1px  solid #ddd
      background-color: white

      &:first-child
        border-radius: 6px 0 0 6px
        border-right: 0

      &:last-child
        border-radius: 0 6px 6px 0
        border-left: 0

      &>button,
      &>a
        line-height: 999
        border-radius: 0
        height: 26px
        display: block
        width: 74px
        text-align: center
        background: no-repeat center center
        background-size: 45px
        transition: all .3s
        filter: grayscale(1)
        padding: 0
        opacity: .6

        &:hover
          background-color: rgba(204, 217, 220, 0.5)
          filter: grayscale(0)
          opacity: 1

#PayPal
  background-image: url('./img/paypal.svg')

#BTC
  background-image: url('./img/bitcoin.svg')

#LTC
  background-image: url('./img/litecoin.svg')

#QRBox
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 1
  background-color: rgba(255,255,255,0.3)
  display: none
  perspective: 400px
  position: relative

#MainBox
  cursor: pointer
  position: absolute
  text-align: center
  width: 200px
  height: 200px
  left: calc(50% - 100px)
  top: calc(50% - 100px)
  background: #fff no-repeat center center
  background-size: 190px
  border-radius: 6px
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3)
  opacity: 0
  transition: all 1s ease-in-out
  transform-style: preserve-3d
  transform-origin: center center
  overflow: hidden

  &.showQR
    opacity: 1
    animation-name: showQR
    animation-duration: 3s
    animation-timing-function: ease-in-out
    animation-iteration-count: 1
    animation-fill-mode: forwards

  &.hideQR
    opacity: 1
    animation-name: hideQR
    animation-duration: 0.5s
    animation-timing-function: ease-in-out
    animation-iteration-count: 1
    animation-fill-mode: forwards

[data-footnote]
    position: relative
    overflow: hidden
    text-transform: initial

    &:before,
    &:after
      position: absolute
      transition: all .3s
      transform: translate3d(-50%,0,0)
      opacity: 0
      left: 37px
      z-index: 10

    &:before
      content: attr(data-footnote)
      border-radius: 6px
      background-color: lighten(#000,17%)
      color: #fff
      height: 26px
      line-height: 26px
      padding: 0 6px
      font-size: 12px
      white-space: nowrap
      top: -24px
      left: 37px

    &:after
      content: ''
      border: 5px solid lighten(#000,17%)
      border-color: lighten(#000,17%) transparent transparent transparent
      top: 0
      left: 37px

    &:hover
      overflow: visible

      &:before,
      &:after
        opacity: 1

      &:before,
      &:after
        transform: translate3d(-50%,-7px,0)

@keyframes showQR {
  from {
    transform: rotateX(90deg);
  }
  8% {
    opacity: 1;
    transform: rotateX(-60deg);
  }
  18% {
    transform: rotateX(40deg);
  }
  34% {
    transform: rotateX(-28deg);
  }
  44% {
    transform: rotateX(18deg);
  }
  58% {
    transform: rotateX(-12deg);
  }
  72% {
    transform: rotateX(9deg);
  }
  88% {
    transform: rotateX(-5deg);
  }
  96% {
    transform: rotateX(2deg);
  }
}

@keyframes hideQR {
  20%, 50% {
    transform: scale(1.08,1.08);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: rotateZ(40deg) scale(0.6,0.6);
  }
}
