name: E2E Tests

on:
  workflow_call:
  push:
    branches: [main]
  pull_request:
    types:
      - synchronize # PR was updated
      - opened # PR was open
      - reopened # PR was closed and is now open again
      - ready_for_review # PR was converted from draft to open

concurrency:
  group: e2e-tests_${{ github.workflow }}_${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  e2e_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda

      - name: Run E2E tests
        uses: cypress-io/github-action@7ef72e250a9e564efb4ed4c2433971ada4cc38b4
        env:
          ELECTRON_EXTRA_LAUNCH_ARGS: --remote-debugging-port=9222
        with:
          install-command: pnpm install --frozen-lockfile
          start: pnpm start
          wait-on: 'http://[::1]:8080'

      - name: Upload test results
        uses: actions/upload-artifact@v5
        with:
          name: test-results
          path: ./cypress/downloads
          retention-days: 30

  visual_tests:
    runs-on: ubuntu-latest
    needs: [e2e_tests]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Download Cypress test results
        uses: actions/download-artifact@v5
        with:
          name: test-results
          path: ./cypress/downloads

      - name: Run Visual tests
        uses: chromaui/action@4ffe736a2a8262ea28067ff05a13b635ba31ec05
        env:
          CHROMATIC_ARCHIVE_LOCATION: ./cypress/downloads
        with:
          cypress: true
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          exitZeroOnChanges: false
