name: Release

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on: [workflow_dispatch]

jobs:
  generate-release:
    name: Generate Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ env.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup git user
        uses: fregante/setup-git-user@v1

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci --legacy-peer-deps

      - name: Bump version, create commit, add tag, push commit and publish github release
        run: npm run release
